body{
    margin: 0;
    width: auto;
    background: plum;
    font-family: "Cormorant Garamond", serif;
}
main{
    display: flex;
}
.title{
    position: relative;
    display: inherit;
    text-align: center;
    font-family: cursive;
}
.container {
    width: 100%;
    margin: 0;
}
.texto-entrada{
    width: 40vw;
    height: auto;
    margin-left: 30%;
    margin-top: 2rem;
    background: plum;
    border: none;
    font-size: 22px;
    outline: none;

}
::placeholder{
    color: black;
}
.i{
    width: auto;
    margin-left: 10rem;
    margin-top: 23rem;
}
.botones{
    width: 100%;
    display: flex;
}
.cifrar{
    width:  18vw;
    padding: 1rem;
    margin-left: 10rem;
    font-size: 1.2rem;
    background-color:  lightblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px -5px black;
}
.descifrar{
    width:  18vw;
    padding: 1rem;
    margin-left: 5%;
    font-size: 1.2rem;
    background-color: whitesmoke;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px -5px black;
}
.cifrar:hover, .descifrar:hover, .copiar:hover{
    transform: scale(1.05);
}
.container2{
    width: 30%;
    background-color: white;
    margin-right: 5%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 30px black;
}
.mensaje-1{
    font-size: 30px;
}
.homero{
    width: 180px;
    margin: 2rem;
}
.mensaje-salida{
    width: 95%;
    height: auto;
    margin: 0.3rem;
    font-size: 22px;
    display: none;
    border: none;
    outline: none;
}
.copiar{
    width:  80%;
    padding: 1rem;
    margin-top: 95%;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    background-color:  lightblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: 5px 5px 10px -7px black;
}
footer{
    margin-top: 2rem;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    text-shadow: 3px 3px 20px black;
}

@media screen and (max-width: 768px){
    main{
        flex-direction: column;
    }
    .container, .container2{
        width: auto;
        margin: 1rem;
        height: auto;
    }
    .texto-entrada{
        width: 90%;
        height: auto;
        margin: 0;
        margin-left: 2.5rem;
        background: plum;
    }
    .i{
        width: auto;
        margin: 6rem 0 0 2.5rem; 
    }
    .botones{
        width: 100%;
        margin-top: 1rem;
    }
    .cifrar{
        width: 40%;
        margin: auto;
    }
    .descifrar{
        width: 40%;
        margin: auto;
    }
    .mensaje-salida{
        width: 90%;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .copiar{
        width: 40%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 1rem; 
    }
    footer{
        font-size: 20px;
        margin-top: 5%;
    }
    
}
@media screen and (max-width: 390px) {
    .texto-entrada{
        max-width: 80%;
        height: auto;
        margin-left: 2rem;
    }
    .cifrar{
        width: 80%;
        margin-left: 2rem;
    }
    .botones{
        flex-direction: column;
    }
    .descifrar{
        width: 80%;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .container2{
        width: 90%;
        margin: 3%;
    }
    .homero{
        display: none;
    }
    .mensaje-salida{
        width: 80%;
        height: 50px;
        height: 20%;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .copiar{
        width: 80%;
        margin-left: 2rem;
        margin-top: 1rem;
    }
}