body{
    margin: 0;
    padding: 0;
    background-color: plum;
}
.title{
    width: auto;
    text-align: center;
}
.entrada{
    width: auto;
    height: auto;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}
.salida{
    width: 350px;
    height: 670px;
    background: white;
    position: absolute;
    top: 97px;
    left: 70%;
    display: inline-block;
}
button{
    width: auto;
    height: auto;
}
.texto-entrada{
    width: 577px;
    height: 48px;
    top: 168px;
    margin-left: 240px;
    font-size: 22px;
    border: none;
    outline: none;
    color: black;
    background: plum;
}
.homero{
    width: 250px;
    margin: 100px 40px 20px 40px;
    
}
.mensaje-1{
    margin-left: 20%;
    margin-right: 10%;
    font-size: 25px;
}
.mensaje-2{
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 27%;
    font-size: 10px;
}
.mensaje-salida{
    width: 320px;
    height: 48px;
    font-size: 22px;
    display: none;
    border: none;
    position: relative;
}
.copiar{
    width: 150px;
    height: auto;
    top: 50em;
    left: 9em;
    padding: 15px;
    background: lightblue;
    border-radius: 20px;
    border: none;
    display: none;
    position: relative;

}
.copiar:hover, .cifrar:hover, .descifrar:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.button{
    display: inline-block;
}
.i{
    width: 577px;
    height: 48px;
    margin-left: 240px;
    margin-top: 490px;
}
.botones{
    width: 577px;
    height: 48px;
    margin-left: 240px;
}
.cifrar{
    width: 150px;
    height: auto;
    margin-left: 20px;
    padding: 15px;
    background: lightblue;
    border-radius: 20px;
    border: none;
}
.descifrar{
    width: 150px;
    height: auto;
    margin-left: 20px;
    padding: 15px;
    background: gold;
    border-radius: 20px;
    border: none;
}
footer{
    width: 100%;
    text-align: center;
    font-style: italic;
    background: plum;
    position: relative;
    top: 2em;
}
@media screen and (max-width: 400px) and (max-width: 800px) {
    h1{
        text-align: center;

    }
    main{
        position: absolute;
    }    
    .container{
        width: auto;
        height: auto;
        margin: auto;
    }
    .entrada, .salida, .texto-entrada, .texto-salida, .cifrar, .descifrar, .copiar{
        width: auto;
        height: auto;
        margin: auto;
        position: relative;
    }
    footer{
        position: relative;
    }
}