body{
    margin: 0;
    width: auto;
    background: plum;
}
main{
    display: flex;
}
.title{
    position: relative;
    display: inherit;
    text-align: center;
}
.container {
    width: 100%;
    margin: 0;
}
.texto-entrada{
    width: 40vw;
    height: auto;
    margin-left: 30%;
    margin-top: 2rem;
    background: plum;
    border: none;
    font-size: 22px;

}
::placeholder{
    color: black;
    /*text-align: center;*/
}
.i{
    width: auto;
    margin-left: 10rem;
    margin-top: 23rem;
}
.botones{
    width: 100%;
    display: flex;
}
.cifrar{
    width:  18vw;
    padding: 1rem;
    margin-left: 10rem;
    font-size: 1.2rem;
    background-color:  lightblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.descifrar{
    width:  18vw;
    padding: 1rem;
    margin-left: 5%;
    font-size: 1.2rem;
    background-color: whitesmoke;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.cifrar:hover, .descifrar:hover, .copiar:hover{
    transform: scale(1.05);
}
.container2{
    width: 30%;
    background-color: white;
    margin-right: 5%;
    text-align: center;
}
.homero{
    width: 15rem;
    margin: 2rem;
}
.mensaje-salida{
    width: 90%;
    height: auto;
    margin-top: 1rem;
    font-size: 22px;
    display: none;
    border: none;
}
.copiar{
    width:  80%;
    padding: 1rem;
    margin-top: 26rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    background-color:  lightblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: none;
 
}
footer{
    margin-top: 2rem;
    font-size: 22px;
    text-align: center;
}

@media screen and (max-width: 768px){
    main{
        flex-direction: column;
    }
    .container, .container2{
        width: auto;
        margin: 1rem;
        height: auto;
    }
    .texto-entrada{
        width: 90%;
        height: auto;
        margin: 0;
        margin-left: 2.5rem;
        background: plum;
    }
    .i{
        width: auto;
        margin: 6rem 0 0 2.5rem; 
    }
    .botones{
        width: 100%;
        margin-top: 1rem;
    }
    .cifrar{
        width: 40%;
        margin: auto;
    }
    .descifrar{
        width: 40%;
        margin: auto;
    }
    .mensaje-salida{
        width: 90%;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .copiar{
        width: 40%;
        margin: auto;
        margin-top: 10rem; 
    }
    footer{
        text-align: center;
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 390px) {
    .texto-entrada{
        max-width: 80%;
        height: auto;
        margin-left: 2rem;
    }
    .cifrar{
        width: 80%;
        margin-left: 2rem;
    }
    .botones{
        flex-direction: column;
    }
    .descifrar{
        width: 80%;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .homero{
        display: none;
    }
    .mensaje-salida{
        width: 95%;
        height: auto;
        margin: 0.3rem
    }
    .copiar{
        width: 80%;
        margin-left: 2rem;
        margin-top: 3rem;   
    }
}